name: Release Template

on:
  # 监听 Release 发布事件（网页端操作触发）
  release:
    types: [published]
  # 监听 Tag 推送事件（命令行操作触发）
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  package-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create macOS Package
        # 排除 Git文件、Github配置、Windows说明
        run: |
          zip -r Xidian-LaTeX-Template-macOS.zip . -x "*.git*" -x ".github/*" -x ".gitignore" -x "WINDOWS_README.md"

      - name: Create Windows Package
        # 排除 Git文件、Github配置、macOS字体、MacTeX设置脚本
        run: |
          zip -r Xidian-LaTeX-Template-Windows.zip . -x "*.git*" -x ".github/*" -x ".gitignore" -x "Font/*" -x "MacTex_Installation_Settings/*" -x "switch-texlive.sh"

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            Xidian-LaTeX-Template-macOS.zip
            Xidian-LaTeX-Template-Windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

